<section id="dealer" class="container">
      <div id="DealerWrapper">
        <nav class="LeftNav">
            <ul>
                <li><a ui-sref="adminPage.managePet">Manage Pets</a></li>
                <li><a ui-sref="adminPage.manageDealer">Manage Dealers</a></li>
                <li><a ui-sref="adminPage.performanceReview">Performance Review</a></li>
                <li><a ui-sref="adminPage.allotTime">Alot Bidding Time</a></li>
             </ul>
       </nav>  
      <div class="DashboardView" ui-view></div>

      </div>  
      <div class='clear'></div> 
</section>