<!--
<div class="alotBid">
    <label>Time   :</label><input type="text" />
    <label>Days   :</label><input type="text" />
    <label>Weeks  :</label><input type="text" />
    <label>Months :</label><input type="text" />
    <input type="button" value="update"/>
</div> 
-->
<div class="manageGrid">
    <h1>BIDDING TIME ALOTMENT</h1>
    <div class="formCol">
        <label class="textLabel" for="TimeAlloted">Time:</label>
        <div class="formInputRow"><input type="text" id="TimeAlloted" class="form-control"></div>

    </div>
    <div class="clear"></div>
    <div class="formCol">
        <label class="textLabel" for="DaysAlloted">Days:</label>
        <div class="formInputRow"><input type="text" id="DaysAlloted" class="form-control"></div>

    </div>
     <div class="clear"></div>
    <div class="formCol">
        <label class="textLabel" for="WeeksAlloted">Weeks:</label>
        <div class="formInputRow"><input type="text" class="form-control" id="DaysAlloted"></div>

    </div>
     <div class="clear"></div>
    <div class="formCol">
        <label class="textLabel" for="MonthsAlloted">Months:</label>
        <div class="formInputRow"><input type="text" id="MonthsAlloted" class="form-control"></div>
    </div>
     <div class="clear"></div>
    <button type="submit" class="formSubmit">Submit</button>
</div>