<div class="bidding">
       <h2 style="text-decoration:underline;text-tranform:capitalize">{{currentUser}} Welcome to Live Auction</h2>
       <div class="biddingonpets">
       <div class="petfullInfo">
               <div class="biddingImages">
                    <img src="images/pugg.jpg" alt="pug">
               </div>
               <div class="petDescription">
                       <p>Description:</p>
                        <ul>
                            <li><span><span class="heading">Animal</span>:Dog</span></li>
                            <li><span><span class="heading">Breed</span>:Jerman Shepard</span></li>
                          <li><span><span class="heading">Dealer</span>:Mr.Dhoni</span></li>
                          <li><span><span class="heading">Contact</span>:1234567895</span></li>
                        </ul>
               </div>
        </div>

        <div class="currentbiddingrate">
                <p><span class="heading">Current Bidding Rate by Mrs.Priya is:$30</span></p>
                <label id="enterAmount">Enter the Amount you want to bid</label>
                <div class="bidinput">
                <input type="text" name="amount" placeholder="Enter Amount" for="enterAmount"/>
                <input type="submit" value="Enter Amount"/>
                </div>
        </div>
      <div class="clear"></div>

       </div>
</div>