<div>
     <!--Main Content-->
    <section class="container">
        <!--homePageBanner-->
        <div id="homePageBanner">
            <a href="javascript:void(0)"><img class="homePageBannerImg" src="images/Image-3.png" alt="homePageBanner image" /></a>
            <a href="javascript:void(0)"><img id="leftArrows" src="images/LS.png" alt="homePageBanner image" /></a>
            <a href="javascript:void(0)"><img id="rightArrows" src="images/RS.png" alt="homePageBanner image" /></a>
        </div><!--homePageBanner close-->
        <!--content-->
        <div id="importantItem">
            <div class="importantItemCol" class="importantItemColBorder">
                <img src="images/Dog-icon.png" alt="Dog-icon"/>
                <h2>Top Breed Stories</h2>
                <p>The German Shepherd is a breed of large-sized working dog that originated in Germany. </p>
            </div>
            <div class="importantItemCol" class="contentRowBorder">
                <img src="images/Offers.png" alt="Dog-icon"/>
                <h2>Latest Offers</h2>
                <p>The German Shepherd puppy is for sale in Hyderabad.</p>
                <span id="price">7000/-</span>
            </div>
            <div class="importantItemCol">
                <img src="images/Bidding.png" alt="Dog-icon"/>
                <h2>Top Bidding</h2>
                <p>The German Shepherd is a breed of large-sized working dog that originated in Germany. </p>

            </div>
        </div><!--content close-->
    </section> <!--Main Content close-->
</div>