<section id="dealer" class="container">
      <div id="DealerWrapper">
        <nav class="LeftNav">
          <ul>
                 <li><a ui-sref="userPage.viewProfile">View Profile</a></li>
                 
                 <li><a ui-sref="userPage.dealerQueryGrid">Query Grid</a></li>
                 <li><a ui-sref="userPage.biddingGrid">View Bidding Grid</a></li>
                 <li><a ui-sref="userPage.performanceReview">My Performance</a></li>
                 <li><a ui-sref="userPage.viewPet">Pets in my Store</a></li>
            </ul>
       </nav>  
      <div class="DashboardView" ui-view></div>

      </div>  
      <div class='clear'></div> 
</section>