<section id="dealer" class="container">
    <div class="ManageDetails">
     <form>
            <div class="tableMainHead"><p>ADD PET</p></div>
            <div class="row" >
                <div class="col">
                    <label class="details">Pet Type :</label>
                </div>
                <div class="col"> 
                    <select>
                        <option>-select-</option>
                        <option>Dogs</option>
                        <option>Cats</option>
                        <option>Birds</option>
                        <option>Fishes</option>
                    </select>
                </div>
                <div class="col">
                    <label class="details">Breed:</label>
                </div>
                <div class="col colText"> 

                    <input type='text' placeholder='Enter Breed'/>
                </div>
                <div class="col">
                    <label class="details">Description:</label>
                </div>
                <div class="col colText">
                    <textarea  placeholder='Describe'/></textarea> 
                </div>
                <div class="col">
                    <label class="details">Picture:</label>
                </div>
                <div class="col colText">
                    <input type='file' placeholder="choose only a picture"/>
                </div>
                <div class="col">
                     <label class="details">Initial Cost:</label>
                </div>
                <div class="col colText">
                    <input type='text' placeholder='Enter Cost'/>   
                </div>

            </div>
            <div class="dataGridButton">
                    <a href="javascript:void(0)">Add</a>
            </div>
        </form>
    </div>
</section>