<div class="petGridExtended">
    <div class="breadCrumb"><a href="javascript:void(0)">Dogs</a> &gt; <a href="javascript:void(0)" class="active">bulldog</a>
        <div><a ui-sref="userPage.userUpdatePet" class="greenBtn" style="border-radius:5px;margin-right:10px;color:#fff;" >Add Pet</a><a href="javascript:void(0)" class="orangeBtn" style="border-radius:5px;color:#fff;">Delete Pet</a></div>
    </div>
    <div class="clear"></div>
        <div class="gallery">
            <div class="imgBox">            
                <div class="petGrid">
                    <div class="threeSetDiv">
                        <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull1.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 1</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                            <button class="maroonBtn">Update</button>
                        </div>
                        <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull2.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 2</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                            <button class="maroonBtn">Update</button>
                        </div>
                        <div class="imgContainer">
                           <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull3.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 3</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                            <button class="maroonBtn">Update</button>
                        </div>
                    </div>
                    <div class="threeSetDiv">
                        <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull4.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 4</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                            <button class="maroonBtn">Update</button>
                        </div>
                        <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull5.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 5</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                            <button class="maroonBtn">Update</button>
                        </div>
                        <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull6.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 6</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                            <button class="maroonBtn">Update</button>
                        </div>
                    </div>
                    <div class="threeSetDiv">                
                       <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull7.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 7</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                           <button class="maroonBtn">Update</button>
                        </div>
                        <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull8.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 8</p>
                                </div>
                            </div>
                           <p class="price">Rs:<span class="sellingPrice">10000</span>
                           <span class="sellingPrice">/-</span>  Selling Price</p>
                           <button class="maroonBtn">Update</button>
                        </div>
                        <div class="imgContainer">
                            <div class="petIntro">
                                <a href="javascript:void(0)"><img src="images/bull9.jpg" alt="BullFighter" /></a> 

                                <div class="PetDescr">
                                   <p>Bull Fighter 9</p>
                                </div>
                            </div>
                            <p class="price">Rs:<span class="sellingPrice">10000</span>
                            <span class="sellingPrice">/-</span>  Selling Price</p>
                            <button class="maroonBtn">Update</button>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        <input type="button" class="maroonBtn" value="View More">
        </div>
    </div>