        a{
            text-decoration: none;
       
        }
	.petInnerWrapper {
            max-width:1044px;
            margin: 0 auto;
            padding-bottom:18px;
            background-color: white;
        }
        .petInnerWrapper .breadCrumb{
            background-color: white;
            color: #136685;
            font-weight: bold;
            float: left;
            font-size: 0.8em;
            font-family: sans-serif;
            margin: 1em 0em 1em 2em;
        }
        .moreDetails p{
            margin-bottom: 5px;
        }
        .petAvailabilityLoc{
            overflow: hidden;
        }
       .petAvailabilityLoc input[type="text"]{
           width:80%;
           float:none;
           margin-left:3%;
           display:block;
           margin:0 auto;
           margin-left: 10%;
           margin-bottom: 10px;
           
       }
    .petAvailabilityLoc button
    {
        text-align: center;
        display: block;
        
        padding:10px;
        
       border: 1px solid red;
        border-radius: 5px;
        
        
    }
.bidButton{
    border-radius: 5px;
    
}
        .petInnerWrapper .breadCrumb a{
           text-decoration: none;
            color: #136685;
            
        }
        .petInnerWrapper .subShopping {
            width: 64%;
            margin-bottom: 10px;
            border-bottom: 1px solid #c2c2c2;
            border-top: 1px solid #c2c2c2;
            
          
        }
        .petInnerWrapper .AboutPet {
            width: 85%;
            border: 1px solid #dedede;
             
            margin: 0 auto;
        }

        .petInnerWrapper .petPhotoLarge {
            width: 70%;
             
            float: left;
        }
        
        .petInnerWrapper .petName {
            font-size: 1.4em;
            font-weight: bold;
            color: #6e2c36;
            margin: 10px;
        }
        .petInnerWrapper .petName span{
            font-size: 0.8em;
        }

        .petInnerWrapper .shopSectionWrap{
            width: 25%;
            float: left;
            font-size: 0.9em;
            color: #828282;
            margin: 50px 10px;
            font-family: sans-serif;
            line-height: 30px;
        }
        .petInnerWrapper .pricesPara {
            color: #363636;
            font-size: 1.5em;
            
        }

        .petInnerWrapper .sellingPrice{
            font-size: 1.4em;
            color: #6e2c36;
        }
        .petInnerWrapper .spFont{
            font-size: 1em;
        }

        .petInnerWrapper .pincodeInput{
            margin: 0.3em 0;
            padding: 0.53em 0em; 
        }

        .petInnerWrapper .orangeBtn{
            background: #f28227; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyODIyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YyODIyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZTc1MWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  #f28227 0%, #f28227 51%, #de751f 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f28227), color-stop(51%,#f28227), color-stop(100%,#de751f)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #f28227 0%,#f28227 51%,#de751f 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #f28227 0%,#f28227 51%,#de751f 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #f28227 0%,#f28227 51%,#de751f 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #f28227 0%,#f28227 51%,#de751f 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28227', endColorstr='#de751f',GradientType=0 ); /* IE6-8 */

            font-weight: bold;
            border: .1em solid #cf6e1f;
            color: white;
            margin: 0 auto 10px;
            padding: 0.6em;  
            text-align: center;
            width:8em;


        }
        .petInnerWrapper .greenBtn{
            background: #319e23; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxOWUyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzMxOWUyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTcwMTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  #319e23 0%, #319e23 46%, #257016 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#319e23), color-stop(46%,#319e23), color-stop(100%,#257016)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #319e23 0%,#319e23 46%,#257016 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #319e23 0%,#319e23 46%,#257016 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #319e23 0%,#319e23 46%,#257016 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #319e23 0%,#319e23 46%,#257016 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#319e23', endColorstr='#257016',GradientType=0 ); /* IE6-8 */

            font-weight: bold;
            border: .1em solid #267317;
            color: white;
            margin:0 auto 10px;
            padding: 0.6em; 
            display: block;
            text-align: center;
            width:8em; 
           
        }

        .petInnerWrapper .moreDetails span{

            color: #136685;
            font-weight: bold;
            font-size: 1em;
            font-family: sans-serif;

        }
             .petInnerWrapper .review {
              background: url("../assets/reviewSymbol.png") no-repeat 0.7em 2px;
              color: #828282;
              width: 79%;
              padding-left: 2.1em;

        }
/*
        .petInnerWrapper .wishlist {
            float: right;
            width: 47%;
            text-align: right;
            color: #828282;

        }
*/

        .petInnerWrapper .petAvailabilityLoc span{
            font-weight: bold;
            background: url("../assets/locationSymbol.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            font-weight: bold;
            padding-left: 16px;
        }
        .petInnerWrapper .petAvailabilityLoc img{
            margin-right: 5px;
        }

        
        .petInnerWrapper .subShopping span{
            font-weight: bold;
        }
.clear{
    clear: both;

}


       



@media (min-width: 0px) and (max-width:383px){

                        .petInnerWrapper .shopSectionWrap{
                            text-align:center;
                            margin-top:10px;
                        }
                        .petInnerWrapper .petPhotoLarge{
                             
                            width: 100%;
                            float: none;
                        }
                        .petInnerWrapper .shopSectionWrap{
                            width: 100%;

                            font-size: 0.9em;
                            color: #828282;
                            margin:0 auto 3em;
                        }

                        .petInnerWrapper .wishlist{
                            float: none;
                            width: 100%; 
                            text-align:center;
                        }

                        .petInnerWrapper .petPhotoLarge img{
                            display:inline-block;
                            width: 100%;
                            height:auto;
                        } 
                        .petInnerWrapper .subShopping{

                        margin: 0 auto;

                        }
    
    
}

@media (min-width: 384px) and (max-width:767px)
{

                   .petInnerWrapper .shopSectionWrap{
                        text-align:center;
                        margin-top:10px;

                    }
                    .petInnerWrapper .petPhotoLarge{
                         
                        width: 100%;
                        float: none;
                    }
                    .petInnerWrapper .shopSectionWrap{
                          width: 61%;
                          font-size: 0.9em;
                          color: #828282;
                          margin: 0 auto;
                          float: none;
                    }

                    .petInnerWrapper .wishlist{
                        float: none;
                        width: 100%; 
                        text-align:center;
                    }
                    .petInnerWrapper .petPhotoLarge img{
                        display:inline-block;
                        width: 100%;
                        height: auto;
                        margin-left: auto;
                    }
                    .petInnerWrapper .subShopping{

                    margin: 0 auto;

                    }

}



@media (min-width: 768px) and (max-width:900px) 
{
    
                    .petInnerWrapper .shopSectionWrap{
                        text-align:center;
                        margin-top:10px;
                        float: none;

                    }
                    .petInnerWrapper .petPhotoLarge {
                         
                        float: none;
                        width: 100%;
                    }

                    .petInnerWrapper .petPhotoLarge img{
                        
                        width:87%;
                        height:auto;
                    }
                    .petInnerWrapper .shopSectionWrap{
                          width: 42%;
                          float: none;
                          font-size: 0.9em;
                          color: #828282;
                          margin: 0 auto 3em;
                    }

                    .petInnerWrapper .wishlist{
                        text-align:center;
                    }
                    .petInnerWrapper .subShopping{

                        margin: 0 auto;

                    }
    
 
}


@media (min-width: 901px)
{
   
                    .petInnerWrapper .petPhotoLarge {
                       
                        float: left;
                    }
                    .petInnerWrapper .petPhotoLarge img{
                        display:inline-block;
                        width:87%;
                        height:auto;
                    }	

}











